
.animate1s {
    animation-delay: 1s;
}
.animate2s {
    animation-delay: 2s;
}
.animate3s {
    animation-delay: 3s;
}
.animate4s {
    animation-delay: 4s;
}
.animate5s {
    animation-delay: 5s;
}
.animate6s {
    animation-delay: 6s;
}
.animate7s {
    animation-delay: 7s;
}
.animate8s {
    animation-delay: 8s;
}
.animate8s {
    animation-delay: 9s;
}
.animate8s {
    animation-delay: 10s;
}
.animate8s {
    animation-delay: 11s;
}