.square, .circle, .line {
  -webkit-animation: 7s crazy infinite;
  animation: 7s crazy infinite;    
}

@-webkit-keyframes line {
  0% {
    stroke-dasharray:0 600;
    stroke-dashoffset: 10;
  }
  50% {
    stroke-dasharray:600 0;
  }
  
  100% {
    stroke-dasharray:0 600;
    stroke-dashoffset: 10;
  }
}

@keyframes line {
  0% {
    stroke-dasharray:0 600;
    stroke-dashoffset: 10;
  }
  50% {
    stroke-dasharray:600 0;
  }
  100% {
    stroke-dasharray:0 600; 
    stroke-dashoffset: 10;
  }
}

@-webkit-keyframes crazy {
  0% {
    stroke-dasharray:0 600;
    stroke-dashoffset: 10;
  }
  
  50% {
    stroke-dasharray:600 0;
  }
  
  70% {
    stroke-dasharray:300 0;
  }
  
  90% {
    stroke-dasharray:0 300;
  }
  
  100% {
    stroke-dasharray:0 600; 
    stroke-dashoffset: 10;
  }
}

@keyframes crazy {
  0% {
    stroke-dasharray:0 600;
    stroke-dashoffset: 10;
  }
  
  50% {
    stroke-dasharray:600 0;
  }
  
  70% {
    stroke-dasharray:300 0;
  }
  
  90% {
    stroke-dasharray:0 300;
  }
  
  100% {
    stroke-dasharray:0 600; 
    stroke-dashoffset: 10;
  }
}
