.container {
    max-width: 1080px;
}

a {
    color: $text-green;
}

img {
    max-width: 100%;
}

.materialboxed.active {
    max-width: none;
}

.block {
    margin: 70px 0;
    .block-title {
        font-size: 34px;
        text-transform: uppercase;
        font-weight: 600;
        color: #666;
        letter-spacing: 1px;
    }
}

.more-link {
    text-align: right;
    i {
        position: relative;
        top: 8px;
    }
}