.gallery-container {
    margin: -100px -8px 0;
}
.gallery-item {
    img {
        padding: 7px;
        background-color: #fff;
        border: 1px solid #eee;
    }
}

.js-shuffle-sizer {
    width: 50%;
    float: left;
    padding: 5px;
}

@media (min-width: 600px) {
    .js-shuffle-sizer {
        width: 33.3333333%;
    }
}

@media (min-width: 992px) {
    .gallery-item {
        img {
            padding: 12px;
        }
    }

    .js-shuffle-sizer {
        padding: 7px 10px;
    }
}

@media (min-width: 1200px) {

}
