body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.no-list {
    list-style: none;
    padding: 0;
}

.pageTitle {
    margin-bottom: 20px;
}

.sectionTitle {
    margin-bottom: 20px;
}

hr {
    border-top: 2px solid #eee;
    margin: 40px 0;
}