@mixin border-radius($radius: 0) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transform($property: none) {
    transform:$property;
    -moz-transform:$property;
    -webkit-transform:$property;
    -o-transform:$property;
    -ms-transform:$property;
}

@mixin transition($property: none) {
    transition:$property;
    -moz-transition:$property;
    -webkit-transition:$property;
    -o-transition:$property;
}