/*color-yellow: #ffd800;*/
/*color-blue: #9ac8f2;*/
/*color-green: #89e5a3;*/

.box {
    width: 100px;
    height: 100px;
    background-color: #ffd800;
}

.box, .box2 {
    width: 100px;
    height: 100px;
}

.box2 {
    background-color: #eee;
}